{% extends "base.html" %}
{% load blog_extras %}

{% block style %}
    h1 {
        text-align: center;
    }
{% endblock %}

{% block content %}
    <h1>Welcome to My Blog</h1>
    {{ x }}
    <hr>
    {% for post in posts %}
        {% row "border-bottom" %}
            <div class="col">
                <h3>{{ post.title }}</h3>
{#                {% include "blog/post-byline.html" %}#}
                <p>{{ post.summary }}</p>
                <p>
                    ({{ post.content|wordcount }} words)
                    <a href="{% url "blog-post-detail" post.slug %}"><button class="btn btn-primary">Read More</button></a>
                </p>
            </div>
        {% endrow %}
    {% endfor %}
{% endblock %}