{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
    <h2>{{ post.title }}</h2>
    {% if post.author.profile %}
        {% row %}
            {% col %}
                <h5>About the author</h5>
                <p>{{ post.author.profile.bio }}</p>
            {% endcol %}
        {% endrow %}
    {% endif %}
    {% row %}
        {% col %}
            {% include "blog/post-byline.html" %}
        {% endcol %}
    {% endrow %}
    {% row %}
        {% col %}
            {{ post.content|safe }}
        {% endcol %}
    {% endrow %}
    <hr>
    <span>Tags:
        {% for tag in post.tags.all %}
            <a href="{% url 'posts-tag' pk=tag.pk %}">{{ tag.value }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            No tags
        {% endfor %}
    </span>
    <hr>
    {% row %}
        {% col %}
            {% recent_posts post %}
        {% endcol %}
    {% endrow %}
    <hr>
    {% include "blog/post-comments.html" %}
{% endblock %}